<div class="form-horizontal" role="form">

  <%
     case action
       when :new
         form_method = 'post'
         form_action = 'create'
       when :edit
         form_method = 'patch'
         form_action = 'update'
    end
  %>

  <%= form_tag("/#{@database}/#{@current_model_name.to_s}/#{@id}/#{form_action}", method: form_method ) do %>

    <%# エラーメッセージ %>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <% if @data.errors.any? %><h4>入力に誤りがあります。</h4>
          <ul class="error_messages">
            <% @data.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <%# 入力項目 %>
    <% @fields.each do |field, config| %>
      <% field_name = field.to_s %>
      <% name = "#{@current_model_name.to_s}[#{field_name}]" %>

      <% if action == :new %>
        <% next if field.in?([:id, :created_at, :updated_at]) %>
        <% value = '' %>
      <% elsif action == :edit %>
        <% value = eval('@data.' + field_name) %>
      <% end %>

      <div class="form-group">
        <%= label field, field, config[:label], class: 'col-sm-3 control-label' %>

        <div class="col-sm-7">
          <% if config[:editable] %>
            <% if config[:options] %>
              <%= select_tag name, options_for_select(config[:options].invert, selected: value), include_blank: true %>
            <% else %>
              <% case config[:type] %>
              <% when :string %>
                <%= text_field_tag(name, value, class: 'form-control') %>
              <% when :datetime %>
                <div class='input-group'>
                  <%= text_field(name, value,  data: {date_format: 'YYYY-MM-DD hh:mm:ss'}, class: 'form-control datetimepicker') %>
                  <span class="input-group-addon">
                </div>
              <% when :text %>
                <%= text_area_tag(name, value, class: 'form-control') %>
              <% when :integer %>
                <%= number_field_tag(name, value, class: 'form-control') %>
              <% else %>
                <%= text_field_tag(name, value, class: 'form-control') %>
              <% end %>


            <% end %>
          <% else %>
            <%= value %>
          <% end %>
        </div>

        <% if false %>
        <% end %>

      </div>

    <% end %>

    <td><%= submit_tag("登録") %></td>

  <% end %>
</div>
