<h1>Crud#index</h1>

<p><%= link_to '新規登録', :controller => "crud", :action => "new" %></p>

<h2>テーブルのデータ</h2>

<%= form_tag("/#{@database}/#{@table}", method: 'get') do %>
  <table class="table table-striped">
    <tr>
      <th>選択</th>
      <% @fields.keys.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </tr>

    <%# 検索フィールド %>
    <tr>
      <td><%= submit_tag("Search") %></td>
      <% @fields.each do |field, item| %>
        <td>
          <% name = 'search[' + field + ']' %>
          <% case item[:type] %>
          <% when :string, :datetime %>
            <%= text_field_tag(name) %>
          <% when :integer %>
            <%= number_field_tag(name) %>
          <% else %>
            <%= text_field_tag(name) %>
          <% end %>

        </td>
      <% end %>
    </tr>

    <%# データ表示 %>
    <% @data.each do |item| %>
      <tr>
        <td>[ ]</td>
        <% @fields.keys.each do |field| %>
            <td>
              <% value = eval('item.' + field) %>
              <% if field == 'id' %>
                <%= link_to value, :controller => "crud", :action => "edit", :id => value %>
              <% else %>
                  <%= value %>
              <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>

  </table>

<% end #/form_tag %>


<h2>テーブル定義情報</h2>

<table class="table table-striped">
  <tr>
    <% @column_properties.each do |property| %>
        <th><%= property %></th>
    <% end %>
  </tr>

  <% @columns.each do |item| %>
      <tr>
        <% @column_properties.each do |property| %>
            <td><%= eval('item.' + property) %></td>
        <% end %>
      </tr>
  <% end %>
</table>
