<h2><%= @table %> データ一覧</h2>

<p><%= link_to '新規登録', :controller => "crud", :action => "new" %></p>

<%= paginate @data %>
<p><%= page_entries_info @data %></p>

<%= form_tag("/#{@database}/#{@table}", method: 'get') do %>
  <table class="table table-striped">
    <tr>
      <th>選択</th>
      <%# フィールド見出し %>
      <% @fields.each do |field, config| %>
        <th><%= sortable field, config[:label] %><i class="icon-arrow-up"></i></th>
      <% end %>
    </tr>

    <%# 検索フィールド %>
    <tr>
      <td><%= submit_tag("Search") %></td>
      <% @fields.each do |field, config| %>
        <td>
          <% name = 'search[' + field + ']' %>
          <% value = @search[field] || nil %>
          <% if config[:options] %>
            <%= select_tag name, options_for_select(config[:options].invert, :selected => value), :include_blank => true %>
          <% else %>
            <% case config[:type] %>
            <% when :string, :datetime %>
              <%= text_field_tag(name) %>
            <% when :integer %>
              <%= number_field_tag(name) %>
            <% else %>
              <%= text_field_tag(name) %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>

    <%# データ表示 %>
    <% @data.each do |datum| %>
      <tr>
        <td>[ ]</td>
        <% @fields.each do |field, config| %>
            <td>
              <% value = eval('datum.' + field) %>
              <% if config[:options] %>
                <% value = config[:options][value] %>
              <% end %>
              <% if field == 'id' %>
                <%= link_to value, :controller => "crud", :action => "edit", :id => value %>
              <% else %>
                  <%= value %>
              <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>

  </table>

<% end #/form_tag %>


<h2>テーブル定義情報</h2>

<table class="table table-striped">
  <tr>
    <% @column_properties.each do |property| %>
        <th><%= property %></th>
    <% end %>
  </tr>

  <% @columns.each do |item| %>
      <tr>
        <% @column_properties.each do |property| %>
            <td><%= eval('item.' + property) %></td>
        <% end %>
      </tr>
  <% end %>
</table>
