<h2><%= @current_model_name %> データ一覧</h2>

<p><%= link_to '新規登録', :controller => "crud", :action => "new" %></p>

<%= paginate @data %>
<p><%= page_entries_info @data %></p>

<%= form_tag("/#{@database}/#{@current_model_name.to_s}", method: 'get') do %>
  <table class="table table-striped">
    <tr>
      <th>選択</th>
      <%# フィールド見出し %>
      <% @list_fields.each do |item| %>
        <% config = @fields[item[:model]][item[:field]] %>
        <th><%= sortable item[:model].to_s, item[:field].to_s, config[:label] %><i class="icon-arrow-up"></i></th>
      <% end %>
    </tr>

    <%# 検索フィールド %>
    <tr>
      <td><%= submit_tag("Search") %></td>
      <% @list_fields.each do |item| %>
        <% config = @fields[item[:model]][item[:field]] %>
        <td>
          <% name = "search[#{item[:model]}][#{item[:field].to_s}]" %>
          <% value = nil #@search[item[:model]][item[:field]] || nil %>
          <% if config[:options] %>
            <%= select_tag name, options_for_select(config[:options].invert, :selected => value), :include_blank => true %>
          <% else %>
            <% case config[:type] %>
            <% when :string, :datetime %>
              <%= text_field_tag(name, value) %>
            <% when :integer %>
              <%= number_field_tag(name) %>
            <% else %>
              <%= text_field_tag(name, value) %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>

    <%# データ表示 %>
    <% @data.each do |datum| %>
      <tr>
        <td>[ ]</td>
        <% @list_fields.each do |item| %>
            <% config = @fields[item[:model]][item[:field]] %>
            <td>
              <% if item[:model] == @current_model_name %>
                <% value = datum.send(item[:field].to_s) %>
              <% elsif associate_type(@current_model_name, item[:model]) == :belongs_to %>
                <% value = datum.send(item[:model].to_s) ? datum.send(item[:model].to_s).send(item[:field].to_s) : "" %>
              <% elsif associate_type(@current_model_name, item[:model]) == :has_many %>
                <% value = 'many' #datum.send(item[:model].to_s).first ? datum.send(item[:model].to_s).first.send(item[:field].to_s) : "" %>
              <% end %>
              <% if config[:options] %>
                <% value = config[:options][value] %>
              <% end %>
              <% if item[:field] == :id %>
                <%= link_to value, controller: 'crud', action: 'edit', id: value %>
              <% else %>
                  <%= value %>
              <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>

  </table>


<h2>表示列選択</h2>
<% @fields.each do |model_name, item| %>
  <div>
  <%= model_name %>
  <% item.each do |field, config| %>
    <% name = "list_fields[#{model_name.to_s}][#{field.to_s}]" %>
    <%= check_box_tag name, 1, @list_fields.select { |line| line[:model] == model_name && line[:field] == field }.any? %><%= label_tag name, field.to_s %>
  <% end %>
  </div>
<% end %>

<%= submit_tag("適用") %>
<% end %>


<h2>テーブル定義情報</h2>

<table class="table table-striped">
  <tr>
    <% @column_properties.each do |property| %>
        <th><%= property %></th>
    <% end %>
  </tr>

  <% @table_columns[@current_model_name].each do |item| %>
      <tr>
        <% @column_properties.each do |property| %>
            <td><%= eval('item.' + property) %></td>
        <% end %>
      </tr>
  <% end %>
</table>
